@import url("reset.css");
@import url("font.css");
@import url("tabs.css");
@import url("about.css");
@import url("prising.css");

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin: 0 -15px;
}

.title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000;
  text-align: center;
}

.title::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ec7979;
  max-width: 170px;
  margin: 0 auto;
  padding-top: 45px;
}

.subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
}

.button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  max-width: 270px;
  height: 60px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
